
target/
dbt_packages/
logs/
*.csv
static_data
decoded_projects/seeds/eth_contracts_mapping.csv
decoded_projects/seeds/eth_contracts.json
bin
decoded-projects-venv*
models_0*
models_1*
models_2*
models_3*
models_4*
models_5*
models_6*
models_7*
models_8*
models_9*
